.ui{
@apply     z-[60] w-full bg-slate-200 max-h-screen overflow-y-scroll pt-[55px]
}


.chat{
  @apply top-[100%] absolute
}

.searchbar{
  @apply absolute top-0 min-h-[50px] bg-white text-blue-700 px-2 flex  justify-start items-center w-full gap-2;
  input{
    outline: none;
    border: none;

    @apply p-2 border-b-2 border-b-blue-600 bg-slate-300 rounded-full flex-1 pl-4
  }
}



.openlist{
  animation: openpanel  .5s ease-in forwards;

}

.closelist{
  animation: closepanel .5s ease-out forwards;
}


@keyframes openpanel{
  0%{@apply top-[100%] absolute}
  100%{@apply top-0 absolute}
}

@keyframes closepanel{
  0%{@apply top-0 absolute}
  100%{@apply top-[100%] absolute}
}
