<div    class="chatpages">
     <div class="w-full h-[50px] absolute rounded-t-md  top-0 z-40 bg-blue-500 px-3 py-3 flex justify-start items-center ">
        <svg (click)="closechat()"  xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 lg:hidden" fill="" viewBox="0 0 24 24" stroke="rgb(255 255 255)" stroke-width="3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>

          <div class="w-8 h-8 ml-2 rounded-full bg-slate-300"></div>
          <h6 class="mb-1 ml-2 text-lg font-medium text-white">{{ui.usernameval}} </h6>

          <svg (click)="ui.open_modal()" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 ml-auto" fill="none" viewBox="0 0 24 24" stroke="rgb(255 255 255)" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
    </div>
<div class="chatbody">

</div>

    <div class="absolute bottom-0 flex items-center justify-center w-full px-4 py-2 bg-pink-500 rounded-b-md">
        <input class="w-[80%] lg:w-[60%]  h-fit rounded-full outline-none py-3 px-3  " >

        <div class="box-border flex items-center justify-center p-2 ml-2 bg-blue-500 rounded-full w-fit">

            <img class="w-8 h-8" src="../../../assets/send fill.svg" alt="" srcset="">
        </div>
    </div>

  </div>
