.chatpages{
  @apply
  flex justify-center
  items-center
flex-1
scroll-smooth
w-full
relative
  h-[calc(100vh-50px)]
  rounded-b-md

  z-50
   bg-slate-100
  overflow-y-scroll
  shadow-md shadow-black/60
  scrollbar-thin ;



}

.usernav{
  @apply w-full h-[50px] absolute rounded-t-md  top-0 z-40 bg-blue-600 px-3 py-3 flex justify-start items-center
}
.userbio{
  @apply w-fit flex justify-start items-center cursor-pointer
}
.chatbody{

@apply w-full relative max-w-[800px] scroll-smooth  bg-white min-h-[calc(100vh-170px)] max-h-[calc(100vh-170px)] overflow-y-scroll scrollbar-thin rounded-md;
 .loadoldmessages{
  @apply w-full min-h-[20px] flex justify-center ml-auto  text-white p-2 ;
  button{
    @apply text-blue-500 px-3 py-1 rounded-md cursor-pointer hover:font-semibold
  }
 }

.chatcol{
    @apply min-h-[30px] w-full bg-slate-100 my-1 flex justify-start items-center h-fit px-4;

    .from{
      @apply bg-slate-800 text-white  rounded-md p-1 px-2 min-w-[30px] text-center
    }
    .notfrom{
      @apply ml-auto bg-blue-600 text-white rounded-md p-1 px-2 min-w-[30px] text-center
    }

    .chatcolmarginbottom{
      @apply mb-4
    }
  }


}

.chatbox{
@apply absolute bottom-0 flex items-center justify-start w-full px-4 py-2 bg-slate-100 text-blue-700 rounded-b-md ;

}

.noactivechat{
  @apply  bg-slate-100 shadow-md overflow-hidden  shadow-black/40 rounded-md rounded-t-lg z-[60] w-full  h-[calc(100vh-50px)] absolute flex justify-center items-center
}
.chatnav{
  @apply min-w-full h-[50px] bg-blue-600 rounded-t-md  absolute top-0  pl-2 flex justify-start items-center  z-20 ;

  .ngchatlogo{
    @apply flex justify-start items-center gap-x-2 text-2xl font-semibold text-white;

    // .ng{
    //   @apply w-[30px] h-[30px] bg-white rounded-sm text-blue-600 font-semibold text-sm text-center align-middle
    // }
  }
}
.chattext{
  @apply text-7xl text-blue-600/70
}
.animatein{
    animation: in .25s forwards  ;
}

.animateout{
    animation: out .25s forwards  ;


}

@keyframes in {
    0%{
        top: -100%;
    }
    100%{
        top:0%
    }

}

@keyframes out {
    0%{
        top: 0%;
    }
    100%{
        top:-100%
    }

}
