<div    class="chatpages">
     <div *ngIf="ui.chatingwith !=undefined" class="usernav">
      <div (click)="viewprofile(ui.chatingwith)" class="userbio">

        <svg   xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 lg:hidden" fill="" viewBox="0 0 24 24" stroke="rgb(255 255 255)" stroke-width="3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>

          <div class="w-8 h-8 ml-2 overflow-hidden bg-cover rounded-full cursor-pointer bg-slate-200">
           <img src="{{ui.chatingwith.profileimg}}" alt="" srcset="">
          </div>
          <h6 class="mb-1 ml-2 text-lg font-medium text-white">{{ui.chatingwith.username}} </h6>
      </div>

          <!-- <svg (click)="ui.open_modal()" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 ml-auto" fill="none" viewBox="0 0 24 24" stroke="rgb(255 255 255)" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg> -->
    </div>
<div *ngIf="ui.activechat$.value==true" #chatview class="chatbody">
<div class="chatcol" *ngFor="let chat of msgservice.chatthread$.value let i=index">

  <span [ngClass]="{from:chat.from !=ui.authuser._id,notfrom:chat.from==ui.authuser._id,chatcolmarginbottom:i+1==msgservice.chatthread$.value.length}">{{chat.message}}</span>

</div>

</div>

    <div class="chatbox">
        <input class="w-[80%] lg:w-[60%]  h-fit rounded-full outline-none py-3 px-3  " >

        <div class="box-border flex items-center justify-center p-2 ml-2 bg-blue-500 rounded-full w-fit">

            <img class="w-8 h-8" src="../../../assets/send fill.svg" alt="" srcset="">
        </div>
    </div>

    <div *ngIf="ui.activechat$.value==false" class=" noactivechat">
<!-- <div class="chatnav">
<div class="ngchatlogo">
 
  <div>NG Chat</div>
</div>

</div> -->
      <svg xmlns="http://www.w3.org/2000/svg" class=" w-[650px] h-[650px] rotate-[5deg] absolute   rounded-full p-4 " viewBox="0 0 20 20" fill="rgba(29, 78, 216, 0.7)">
        <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
        <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />

      </svg>
      <span class="chattext"> </span>
    </div>

  </div>
