.chatpages{
  @apply
  flex justify-center
  items-center
flex-1

w-full
relative
  h-[calc(100vh-50px)]

  z-50
   bg-slate-100
  overflow-y-scroll

  scrollbar-thin ;



}
.chatbody{
  @apply w-full max-w-[800px]  bg-slate-100
}


.animatein{
    animation: in .25s forwards  ;
}

.animateout{
    animation: out .25s forwards  ;


}

@keyframes in {
    0%{
        top: -100%;
    }
    100%{
        top:0%
    }

}

@keyframes out {
    0%{
        top: 0%;
    }
    100%{
        top:-100%
    }

}
