
<div class="fixed top-0 min-w-full min-h-screen bg-slate-300">

 <app-nav *ngIf="ui.screenbraekpoint.value<1000" ></app-nav>

<div class="mobile" *ngIf="ui.screenbraekpoint.value<1000" >
<app-messages></app-messages>

<div (click)="openlist()" routerLink="/contacts" class="fab">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="fill: rgba(37 99 235);"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></svg>
</div>
</div>
<!-- <app-contacts></app-contacts> -->
<div *ngIf="ui.screenbraekpoint.value>1000" class="ui desktop" >

  <app-chat></app-chat>
  <app-chatpage></app-chatpage>

  <!--  -->
  <app-viewprofile *ngIf="ui.viewprofile$.value==true"></app-viewprofile>

</div>

</div>

