

<!-- <div style="margin-top: 100px; color:teal-" (click)="openmessage()">jhon:hellow there</div> -->

<div class="holder">

<ng-container *ngIf="userchats|async as chats">

   <!-- {{chats|json}} -->
  <div  class="container" *ngIf="chats.length>0 else nochats " >

      <div     class="chatlist" *ngFor="let chat of chats;let i =index ">
      <div  [routerLink]="['/profile',chat.chatparticipants[0]._id]" class="avatar">
<img style="width: 100%;height:100%;background-size: cover;" src="{{chat.chatparticipants[0].profileimg}}" alt="" srcset="">
      </div>
      <div (click)="markmessagesasread(chat.unreadcounter)"  [routerLink]="['/directmessage',chat.chatparticipants[0]._id]"  class=" messagesection">
        <div class="name" >
          <div>{{chat.chatparticipants[0].username}}</div>

       <div>{{chat.chatupdate | date:'shortTime'}}</div>
        </div>
<div class=" message ">
{{chat.lastmessage}}
</div>
</div>
<span class="unreadcounter" *ngIf="chat.unreadcounter>0">{{chat.unreadcounter}}</span>


    </div>
    <div class="min-h-[80px] bg-teal-500 w-full"></div>


    </div>
    <ng-template #nochats >
      <div>start new chats </div>
    </ng-template>
  </ng-container>


</div>



<!-- <app-friendlist ></app-friendlist>
<app-genericmodal *ngIf="(ui.openmodal|async)==true" [user]="user" [chatid]="chatid"></app-genericmodal> -->

<!-- <app-directmessage></app-directmessage> -->
<!--  -->
