

<!-- <div style="margin-top: 100px; color:teal-" (click)="openmessage()">jhon:hellow there</div> -->

<div class="holder">

<ng-container *ngIf="ui.userchats|async as chats">

   <!-- {{chats|json}} -->
  <div  class="container" *ngIf="chats.length>0 else nochats " >

      <div     class="chatlist" *ngFor="let chat of chats;let i =index ">
      <div  [routerLink]="['/profile',chat.chatparticipants[0]._id]" class="avatar">
<img style="width: 100%;height:100%;background-size: cover;" src="{{chat.chatparticipants[0].profileimg}}" alt="" srcset="">
      </div>
      <div   [routerLink]="['/directmessage',chat.chatparticipants[0]._id]"  class=" messagesection">
        <div class="name" >
          <div>{{chat.chatparticipants[0].username}}</div>

       <div>{{chat.chatupdate | date:'shortTime'}}</div>
        </div>
<div class=" message">
{{chat.lastmessage}}
</div>
</div>
<span class="unreadcounter" *ngIf="chat.unreadcounter[0].count>0">{{chat.unreadcounter[0].count}}</span>
<div (click)="opendeletemodal(chat.chatparticipants[0],i)" (mouseenter)="menuguard=true" (mouseleave)="menuguard=false" class="absolute flex items-center justify-center w-5 h-5 bottom-1 right-1">
  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" style="fill: rgb(37 99 235)"><path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
</div>


    </div>
    <div class="min-h-[80px] w-full"></div>


    </div>
    <ng-template #nochats >
      <div>start new chats </div>
    </ng-template>
  </ng-container>

</div>



<!-- <app-friendlist ></app-friendlist>
<app-genericmodal *ngIf="(ui.openmodal|async)==true" [user]="user" [chatid]="chatid"></app-genericmodal> -->

<!-- <app-directmessage></app-directmessage> -->
<!--  -->
