<div class="fixed top-0  z-50 w-full h-screen bg-gradient-to-b from-blue-700 to-blue-300 box-border p-2 flex flex-col justify-start items-center pt-[20px]">

    <!-- <div class="hidden lg:flex w-[75%] left-[25%] fixed h-screen mt-[50px] rounded-tl-lg     flex-col justify-start items-center"> -->
        
      
        <svg xmlns="http://www.w3.org/2000/svg" class="h-[100px] w-[100px] mt-[150px]  bg-white rounded-full p-4 rotate-[15deg]" viewBox="0 0 20 20" fill="rgb(59 130 246)">
            <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
            <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
          </svg>
    
        <h1 class=" font-semibold text-xl mt-4 text-blue-500  px-5 py-1 rounded-full border-2 border-white bg-white"> Ng Chat</h1>

        <!-- <button (click)="ui.loginform()" class="w-fit px-8 h-fit bg-transparent flex justify-center items-center mt-5 text-white font-light rounded-full border-2 border-white"><div class="mb-1">login</div></button> -->
        <div class="w-1/2 font-thin mt-[50px] text-center text-white ">Log in with</div>
        <div class="flex justify-center items-center mt-[20px] gap-6">
         <div class="flex flex-col justify-start items-center">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/fb.svg" alt="" srcset=""> <span class="font-normal text-white">facebook</span></div>
         <div class="flex flex-col justify-start items-center">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/email.svg" alt="" srcset=""> <span class="font-normal text-white">email</span></div>
         <div class="flex flex-col justify-start items-center">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/2659939281579738432.svg" alt="" srcset=""><span class="font-normal text-white">google</span> </div>
        </div>



        <p class="font-normal text-blue-200 mt-auto mb-4">dont have an account? <span class="font-bold text-white cursor-pointer" (click)="ui.registerform()">register</span></p>

        <!-- *ngIf="ui.form==='login'" -->
        <app-login-form ></app-login-form>
        <!-- *ngIf="ui.form==='register'" -->
        <app-register-form ></app-register-form>
</div>