<div class="lg:gap-10 fixed top-0 flex-wrap  z-50 w-full h-screen bg-gradient-to-b from-blue-700 to-blue-700 box-border p-2 flex flex-col lg:flex-row lg:justify-center justify-start items-center pt-[20px]">

    <!-- <div class="hidden lg:flex w-[75%] left-[25%] fixed h-screen mt-[50px] roun ded-tl-lg     flex-col justify-start items-center"> -->

<div class="flex flex-col justify-center items-center  ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-[150px] w-[150px] lg:w-[400px] lg:h-[400px]   rounded-full p-4 " viewBox="0 0 20 20" fill="rgb(255 255 255)">
            <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
            <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
          </svg>

        <h1 class=" mt-0 text-3xl font-semibold text-white lg:text-blue-600 rounded-md px-7 lg:text-[60px]  lg:bg-white py-6 lg:pr-10 lg:rounded-r-full">ng chat</h1>
      </div>
        <!-- <button (click)="ui.loginform()" class="flex items-center justify-center px-8 mt-5 font-light text-white bg-transparent border-2 border-white rounded-full w-fit h-fit"><div class="mb-1">login</div></button> -->
        <!-- <div class="w-1/2 font-thin mt-[50px] text-center text-white ">Log in with</div> -->
<div *ngIf="register==false;" class="logincontainer   lg:min-w-[400px] lg:min-h-[400px]">
          <!-- <div>sign in</div> -->
         <!-- <div class="flex flex-col items-center justify-start cursor-pointer">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/fb.svg" alt="" srcset=""> <span class="font-normal text-white"></span></div> -->
          <input (keyup)="emailvalidator($event)" class="input" [(ngModel)]="email" placeholder="email" type="text">
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="invalidemailmatch">{{inavlidemailnmatchmessage}}</span>

          <input class="input" (keyup)="passwordlength($event)" [(ngModel)]="password" placeholder="password" type="password" >
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="passwordlengthmatch">{{passwordlengthmessage}}</span>

          <button (click)="loginuser()" class="loginbtnmail"><div [ngClass]="{'registerpulse':logingin==true}">{{logintext}}</div> </button>

          <div class="sociallogincontainer">
            <div class="or">or</div>
            <div class="underline"></div>

          </div>
         <!-- <div class="flex flex-col items-center justify-start">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/email.svg" alt="" srcset=""> <span class="font-normal text-white">email</span></div> -->
         <button class="loginbtn " (click)="api.googlesignin()">
          <div>sign in with </div>
          <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-10.333 16.667c-2.581 0-4.667-2.087-4.667-4.667s2.086-4.667 4.667-4.667c1.26 0 2.313.46 3.127 1.22l-1.267 1.22c-.347-.333-.954-.72-1.86-.72-1.593 0-2.893 1.32-2.893 2.947s1.3 2.947 2.893 2.947c1.847 0 2.54-1.327 2.647-2.013h-2.647v-1.6h4.406c.041.233.074.467.074.773-.001 2.666-1.787 4.56-4.48 4.56zm11.333-4h-2v2h-1.334v-2h-2v-1.333h2v-2h1.334v2h2v1.333z"/></svg>

        </button>


         <!-- <div class="flex flex-col items-center justify-start cursor-pointer">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/2659939281579738432.svg" alt="" srcset=""><span class="font-normal text-white"></span> </div> -->
        </div>


<div *ngIf="register==true;" class="registercontainer  lg:min-w-[400px] lg:min-h-[400px]">
  <input (keyup)="emailvalidator($event)" class="input" placeholder="email" [(ngModel)]="email" type="text">
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="invalidemailmatch">{{inavlidemailnmatchmessage}}</span>

  <input class="input" (keyup)="usernamevalidator($event)" placeholder="username" [(ngModel)]="username" type="text">
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="inavlidusernamelength">{{inavlidusernamelengthmessage}}</span>

  <input class="input" (keyup)="passwordlength($event)" placeholder="password" [(ngModel)]="password" type="password" >
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="passwordlengthmatch">{{passwordlengthmessage}}</span>

    <input class="input" (keyup)="passwordmatch($event)" placeholder="re-password" [(ngModel)]="reenterpassword" type="password">
 <span class="w-full text-xs text-white font-semibold text-left" *ngIf="passwordmissmatch">{{passwordmissmatchmessage}}</span>

  <button (click)="registeruser()"  class="loginbtnmail"><div [ngClass]="{'registerpulse':registering==true}">{{registertext}}</div> </button>

</div>



<div  (click)="toggleregister()" *ngIf="register==false" class="register fixed z-20 bottom-1 w-full  mt-auto text-center">don't have an account? <strong class="cursor-pointer">Register</strong></div>
<div (click)="toggleregister()" *ngIf="register==true" class="register w-full fixed z-20 bottom-1  mt-auto text-center" >have an account? <strong class="cursor-pointer">log in</strong></div>

        <!-- <p class="mt-auto mb-4 font-normal text-blue-200">dont have an account? <span class="font-bold text-white cursor-pointer" (click)="ui.registerform()">register</span></p> -->

        <!-- *ngIf="ui.form==='login'" -->

</div>
