<div class="main">

  <ng-container *ngIf="currentuser|async as user">

  <div class="container">

    <div class="back ">
<div *ngIf="uid == ui.authuser._id" class="logout" (click)="logout()">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(37 99 235)"><path d="M12 21c4.411 0 8-3.589 8-8 0-3.35-2.072-6.221-5-7.411v2.223A6 6 0 0 1 18 13c0 3.309-2.691 6-6 6s-6-2.691-6-6a5.999 5.999 0 0 1 3-5.188V5.589C6.072 6.779 4 9.65 4 13c0 4.411 3.589 8 8 8z"></path><path d="M11 2h2v10h-2z"></path></svg>
  <div>log out</div>
</div>
  <svg class="ml-auto " (click)="back()"
  xmlns="http://www.w3.org/2000/svg"
   width="25" height="25" viewBox="0 0 24 24" style="fill: rgba(37 99 235)"><path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path></svg>

    </div>

    <div class="avatar">
      <img class="w-full h-full bg-cover" src="{{user?.profileimg}}" alt="profile image" srcset="">
    </div>
    <div class="name"> {{user.username}}</div>
    <!-- <div class="text-blue-600">Last seen</div> -->
<div *ngIf="user.online==false" class="lastseen">{{user.lastseen |date:"shortTime" }},{{user.lastseen|date:"mediumDate"}}</div>
<div *ngIf="user.online==true" class="lastseen online">online</div>
  <p class="status">{{user.status}}</p>

<button *ngIf="uid !== ui.authuser._id" [routerLink]="['/directmessage',uid]" class="min-w-[150px] rounded-full cursor-pointer bg-blue-600 flex justify-center items-center gap-2 text-white py-2">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255 255 255 )"><path d="M20 2H4c-1.103 0-2 .894-2 1.992v12.016C2 17.106 2.897 18 4 18h3v4l6.351-4H20c1.103 0 2-.894 2-1.992V3.992A1.998 1.998 0 0 0 20 2zm-6 11H7v-2h7v2zm3-4H7V7h10v2z"></path></svg>
  <div>chat</div>
</button>

<div *ngIf="uid == ui.authuser._id"  class="w-full min-h-[50px] bg-pink-400 flex justify-center items-center gap-4">

  <button  (click)="openeditprofile()"class="min-w-[100px] cursor-pointer  rounded-md bg-blue-600 flex justify-center items-center gap-2 text-white px-3 py-1">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255 255 255 )"><path d="M20 2H4c-1.103 0-2 .894-2 1.992v12.016C2 17.106 2.897 18 4 18h3v4l6.351-4H20c1.103 0 2-.894 2-1.992V3.992A1.998 1.998 0 0 0 20 2zm-6 11H7v-2h7v2zm3-4H7V7h10v2z"></path></svg> -->
    <svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" style="fill:rgba(255 255 255)"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg>

    <div>edit </div>
  </button>
  <button  [routerLink]="['/contacts']"class="min-w-[100px] w-fit cursor-pointer  rounded-md bg-blue-600 flex justify-center items-center gap-2 text-white px-3 py-1">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255 255 255 )"><path d="M20 2H4c-1.103 0-2 .894-2 1.992v12.016C2 17.106 2.897 18 4 18h3v4l6.351-4H20c1.103 0 2-.894 2-1.992V3.992A1.998 1.998 0 0 0 20 2zm-6 11H7v-2h7v2zm3-4H7V7h10v2z"></path></svg> -->
    <!-- <svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" style="fill:rgba(255 255 255)"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);"><path d="M21 2H6a2 2 0 0 0-2 2v3H2v2h2v2H2v2h2v2H2v2h2v3a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-8 2.999c1.648 0 3 1.351 3 3A3.012 3.012 0 0 1 13 11c-1.647 0-3-1.353-3-3.001 0-1.649 1.353-3 3-3zM19 18H7v-.75c0-2.219 2.705-4.5 6-4.5s6 2.281 6 4.5V18z"></path></svg>
    <div>contacts </div>
  </button>
</div>
  </div>

</ng-container>

</div>
<app-editprofile *ngIf="ui.editmodal |async"></app-editprofile>
