<div class="w-full h-[50px]  fixed top-0 z-40 bg-blue-500 px-4 py-2 flex content-start items-center" [ngClass]="ui.shrinknav" >
    <div class="text-white   h-fit  w-fit  ">
      <h2 class=" w-fit font-semibold text-sm bg-white text-blue-500 px-2  box-border rounded-full"><span class="text-xl     font-bold ">Ng</span> chat</h2>
    </div>
    <div class="ml-auto">
      <svg *ngIf="ui.tab!==3" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="rgb(255 255 255)" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>


  </div> 
  <div class="profile  ">
    <div class="w-8 h-8 rounded-full bg-cyan-500 "></div>
    <!-- <div class="font-light text-[18px] text-white ml-2 hidden sm:block ">Hello <strong>wilson</strong></div> -->
</div>

   
  </div>
