 <div class="nav" [ngClass]="ui.shrinknav" >
   <div class="max-w-[1300px] w-full   h-[50px] flex items-center content-start mx-auto">
  <div class="text-white h-fit w-fit ">
      <h2 class="box-border px-2 text-sm font-semibold text-blue-500 bg-white rounded-full w-fit"><span class="text-xl font-bold ">Ng</span> chat</h2>
    </div>
    <div class="ml-auto">
      <!-- <svg *ngIf="ui.tab!==3" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="rgb(255 255 255)" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg> -->


  </div>
  <a class="profile " [routerLink]="['/profile',ui.authuser._id]">

    <div>hi {{ui.authuser.username}}</div>
    <div  class="w-8 h-8 overflow-hidden rounded-full ">
      <img class="w-full h-[100%] bg-cover" src="{{ui.authuser?.profileimg}}" alt="" srcset="">
    </div>
    <!-- <div class="font-light text-[18px] text-white ml-2 hidden sm:block ">Hello <strong>wilson</strong></div> -->
</a>
</div>


  </div>
