.ui{
  @apply absolute top-0    z-[60] w-full bg-slate-100 max-h-[calc(100vh-50px)] min-h-[calc(100vh-50px)]  overflow-y-scroll pt-[55px]
  }


  .chat{
     @apply right-[-110%]
  }

  .searchbar{
    @apply fixed top-0 min-h-[50px] bg-white text-blue-700 px-2 flex  justify-start items-center w-full gap-2 z-[70];
    input{
      outline: none;
      border: none;

      @apply p-2 border-b-2 border-b-blue-600 bg-slate-300 rounded-full flex-1 pl-4
    }
  }


  .contactlist{
    @apply flex justify-start flex-1 w-full mb-1 border-b-2 border-b-white
  }



  .addcontact{
    @apply z-[70] fixed top-0 min-w-full min-h-screen bg-black/50  flex justify-center items-center
  }

  .contactform{
    @apply w-[80%] h-fit pb-10 max-w-[400px] bg-white rounded-md flex justify-start pt-5 items-center flex-col ;
    position:relative  !important;
// label{
//   @apply text-blue-800
// }
    input{
      @apply border-2 border-blue-500 px-2 py-1 rounded-md text-blue-700 mb-5
    }
  }

  .contactspacing{
    @apply mb-12
  }

  .disabled{
    @apply cursor-not-allowed bg-red-700
  }
  // .openlist{
  //   animation: openpanel  .5s ease-in forwards;

  // }

  // .closelist{
  //   animation: closepanel .5s ease-out forwards;
  // }


  // @keyframes openpanel{
  //   0%{@apply right-[-110%]  }
  //   100%{@apply right-0  }
  // }

  // @keyframes closepanel{
  //   0%{@apply right-0  }
  //   100%{@apply right-[-110%]  }
  // }
