<div class="container">

    <div class="profile open">

        <div class="closebtn">
            <svg (click)="closeprofile()"   style="width: 40px; height:40px;margin-left: auto;cursor:pointer;" fill="rgb(255 255 255)" stroke="rgb(29 78 216 )"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
        </div>
        <div class="avatar">
<img style="width: 100%;height: 100%;background-size: cover;" src="{{ui.chatingwith.profileimg}}" alt="" srcset="">

        </div>


<ng-container *ngIf="ui.chatingwith._id!=ui.authuser._id" >

  <div class="name">{{ui.chatingwith.username}}</div>
  <div *ngIf="ui.chatingwith.online==true" class="online">online</div>
  <div *ngIf="ui.chatingwith.online==false" class="lastseen">last seen {{ui.chatingwith.lastseen | date :'shortTime'}},<br>{{ui.chatingwith.lastseen | date :'mediumDate'}}</div>
  <div class="status">{{ui.chatingwith.status}}</div>
</ng-container>

<ng-container *ngIf="ui.chatingwith._id==ui.authuser._id" >
  <input type="file" (change)="uploadfile($event)" class="hidden" #file>
  <button (click)="file.click()"  class="min-w-[150px] bg-blue-700 px-2 py-2 text-white  rounded-md">update picture</button>


  <input type="text" class="nameedit" [(ngModel)]="username">

  <textarea class="statusedit" type="text" [(ngModel)]="status"> </textarea>
  <button (click)="updateprofile()"  class="min-w-[150px] bg-blue-700 px-2 py-2 text-white  rounded-md mb-10">{{updatestate}}</button>
</ng-container>
<!-- <pre>{{ui.chatingwith |json}}</pre> -->



    </div>

</div>

